.banner {
    position: relative;
    top: 0px;
    left: 10%;
    width: 440px;
    height: 768px;
}

.banner-text {
    position: relative;
    top: 50%;
    /* left: 5%; */
    width: 380px;
    height: 215px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 14px/28px Segoe UI;
    letter-spacing: 0px;
    color: #2D3748;
    opacity: 1;
}

.banner-img {

    width: 258px;
    height: 289px;
    opacity: 0.75;
}