.Chem {
    width: 30%;
    height: 685px;
    padding-left: 20%;
    text-align: right;
    flex-direction: column-reverse;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.style {
    text-align: center;
    text-align: -webkit-right;
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    grid-gap: 50px;
}