.Chem {
    width: 30%;
    height: 685px;
    padding-left: 20%;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


.Style {}

.Item {
    top: 128px;
    left: 654px;
    width: 84px;
    height: 53px;
}