.style {
    display: flex;
    height: 100%;
    padding-left: 150px;
    padding-top: 90px;
}

.form {
    text-align: center;
}

.chart {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 90px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}